@charset 'UTF-8';

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6395EC;
}
header{
    text-align: center;
     color: white;
     font-size: 1.5em;
     font-weight: bold;
}
section{
    font-weight: bold;
    background-color: white;
    width: 60vw;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.267);
}
footer {
    color: white;
    text-align: center;
    font-weight: bold;
}