@charset 'UTF-8';

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6395EC;
}
header{
    text-align: center;
     color: white;
     font-size: 1.5em;
     font-weight: bold;
}
section{
    font-weight: bold;
    background-color: white;
    width: 80vw;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.267);
}
img{
    display: block;
    margin: auto;
    width: 40%;
}
div#horarioMudar{
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 10px;
}
footer {
    color: white;
    text-align: center;
    font-weight: bold;
}